body {
  margin: 0;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", 
  "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  background-color: rgb(29, 28, 28);
  color: rgb(253, 253, 253);
  font-size: 17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Myriad Pro', 'Courier New',
    monospace;
}


